{% extends "error/error_base.html" %}

{% block title %}Access Forbidden{% endblock %}

{% block error_code %}403{% endblock %}

{% block error_icon %}fas fa-ban{% endblock %}

{% block error_title %}Access Forbidden{% endblock %}

{% block error_message %}
Sorry, but you don't have permission to access this page.
If you believe this is an error, please contact the administrator
{% endblock %}

{% block error_actions %}
<a href="/" class="error-btn"><i class="fas fa-home"></i> Home Page</a>
<a href="javascript:history.back()" class="error-btn secondary"><i class="fas fa-arrow-left"></i> Go Back</a>
{% endblock %}